* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #CDCDCD;
}

.container--header {
    background-color: #D9D9D9;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container--logo {
    width: 200px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    font: bold;
    font-size: 25px;
    cursor: pointer;
    margin-inline-end: 55px;
}

a:hover {
    width: 78px;
    height: 30px;
    background-color: #042453;
    color: white;
    padding: 7px;
    border-radius: 23px;
    transition: all 0.5s;
}
.container--main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container--form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.container--input--img {
    width: 400px;
    height: 50px;
    background-color: #838E8F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    margin-top: 10px;
}
.container--img {
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 50px;
}
.text--img {
    margin-top: 20px;
}
#img--container {
    width: 220px;
    height: 220px;
    border-radius: 23px;
    background-color: #838E8F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 8px;
}
.container--input1 {
    background-color: #838E8F;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    gap: 13px;  
}
#preview {
    max-width: 190px;
    border-radius: 23px;
}
textarea {
    border-radius: 10px;
    padding: 2px;
    border: 2px solid #042453;
}
.nome {
    border-radius: 23px;
    border: 1px solid #042453;
    padding: 2px;
}
.descricao {
    width: 350px;
    height: 100px;
}
.container--input2 {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #838E8F;
    border-radius: 23px;
    gap: 12px;
}
.container--input3 {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #838E8F;
    border-radius: 23px;
    gap: 23px;
}
.container--select1 {
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container--select2 {
    width: 220px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button--enviar {
    width: 220px;
    background-color: #042453;
    padding: 6px;
    color: white;
    border-radius: 23px;
    border: 0;
    font-size: 17px;
    margin-bottom: 9px;
}
.text--error {
    margin-top: 10px;
    margin-bottom: 5px;
}