* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #CDCDCD;
}

.container--header {
    background-color: #D9D9D9;
    width: 100%;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container--logo {
    width: 200px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
}
ul li {display: inline-block;}

a {
    text-decoration: none;
    color: black;
    font: bold;
    font-size: 25px;
    cursor: pointer;
    margin-inline-end: 55px;
}
.categoria--a {
    text-decoration: none;
    color: black;
    font: bold;
    font-size: 25px;
    cursor: pointer;
    margin-inline-end: 55px;
}
.categoria--a:hover {
    width: 78px;
    height: 30px;
    background-color: #042453;
    color: white;
    padding: 7px;
    border-radius: 23px;
    transition: all 0.5s;
}

.sub--titulo {
    text-align: center;
    margin-top: 12px;
}
.container--dados {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container--section1 {
    width: 630px;
    height: 500px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    border-radius: 23px;
}
.img {
    width: 226px;
    height: 180px;
    border: 4px solid #edeff4;
}
.nome--item {
    width: 225px;
    height: 60px;
    background-color: #7583b0;
    border: 4px solid #edeff4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}
.container--info {
    width: 225px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #7583b0;
    border: 4px solid #edeff4;
    border-radius: 23px;
    padding: 8px;
    margin-top: 10px;
}
.nota {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.categoria {
    width: 95px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}


.down--button {
    max-width: 36px;
}
.down--button2 {
    max-width: 36px;
}
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}



/* css descrição */
.container--descricao {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CDCDCD;
    border: 4px solid #edeff4;
    margin-top: 10px;
}
.desc {
    display: none;
    width: 100%;
    height: 200px;
    border: 1px solid #edeff4;
}
.p--descricao {
    text-align: center;
    font-size: 15pt;
}
.descricao {
    color: #042453;
    font-size: 12pt;
    margin-left: 12px;
    margin-top: 10px;
}
.mini--menu {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #edeff4;
}
/* opiniao */
.desc2 {
    display: none;
    width: 100%;
    height: 200px;
    border: 1px solid #edeff4;
}
.container--opiniao {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CDCDCD;
    border: 4px solid #edeff4;
    margin-top: 10px;
}
.p--opiniao {
    text-align: center;
    font-size: 15pt;
}
.opiniao {
    color: #042453;
    font-size: 12pt;
    margin-left: 12px;
    margin-top: 10px;
}

footer {
    text-align: center;
    font-size: 19pt;
    margin-top: 25px;
}